table{
  background-color: #fffefe;
  color: black;
  border-color: black;
  cursor: pointer;
}

table thead{
  background-color: black;
  height: 50px;
  color: white;
}

table thead tr th{
  text-align: right;
  height: 40px;
  font-size:25px;
}

table tbody{
  font-weight: bold;
}

table tbody tr td{
  width: 25%;
  text-align: center;
}
